<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-4">Get In Touch</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Contact</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Appointment Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="border-start border-5 border-primary ps-4 mb-5">
                    <h6 class="text-body text-uppercase mb-2">Get In Touch</h6>
                    <h1 class="display-6 mb-0">A Company Involved In Service And Maintenance</h1>
                </div>
                <p class="mb-0">
                    We'd love to hear from you! Whether you have a question, feedback, or just want to say hello, feel
                    free to reach out. Our team is here to help and will get back to you as soon as possible. Let's
                    connect and explore how we can assist you!
                </p>
            </div>
            <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <form id="contact-form" method="POST" action="/contact">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control bg-light border-0" id="name" name="name"
                                    placeholder="" required>
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="email" class="form-control bg-light border-0" id="email" name="email"
                                    placeholder="" required>
                                <label for="email">Your Email</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="number" class="form-control bg-light border-0" id="phone" name="phone"
                                    placeholder="" required>
                                <label for="phone">Your Phone Number</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control bg-light border-0" id="service" name="service"
                                    placeholder="" required>
                                <label for="service">Service Type</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control bg-light border-0" placeholder="Leave a message here"
                                    id="message" name="message" style="height: 100px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <!-- Google reCAPTCHA widget -->
                        <div class="col-12">
                            <div class="g-recaptcha" data-sitekey="6LfdZIYqAAAAABlYSlmKVoHEMXQYLju6fKo5vh9a"></div>
                        </div>
                        <div class="col-12">
                            <button id="submit-btn" class="btn btn-primary w-100 py-3" type="submit">Get a Quote</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Include Google reCAPTCHA script -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!-- Appointment End -->