
    <!-- Facts Start -->
    <div class="container-fluid my-5 p-0" id="services">
        <div class="row g-0">
            <div class="col-xl-3 col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="img/fact-1.jpg" alt="">
                    <div class="facts-overlay">
                        <h1 class="display-1">01</h1>
                        <h4 class="text-white mb-3">Construction</h4>
                        <p class="text-white">We specialize in delivering high-quality construction services, from residential projects to large-scale developments. Our team ensures every build meets the highest standards of durability and craftsmanship.</p>
                        {{!-- <a class="text-white small" href="">READ MORE<i class="fa fa-arrow-right ms-3"></i></a> --}}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="img/fact-2.jpg" alt="">
                    <div class="facts-overlay">
                        <h1 class="display-1">02</h1>
                        <h4 class="text-white mb-3">Mechanical</h4>
                        <p class="text-white">Our mechanical services cover everything from installation to maintenance, ensuring that your systems are efficient and reliable for long-term use.</p>
                        {{!-- <a class="text-white small" href="">READ MORE<i class="fa fa-arrow-right ms-3"></i></a> --}}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="img/fact-3.jpg" alt="">
                    <div class="facts-overlay">
                        <h1 class="display-1">03</h1>
                        <h4 class="text-white mb-3">Architecture</h4>
                        <p class="text-white">With a focus on innovation and functionality, our architectural designs bring your vision to life, balancing aesthetics with practical solutions.</p>
                        {{!-- <a class="text-white small" href="">READ MORE<i class="fa fa-arrow-right ms-3"></i></a> --}}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="img/fact-4.jpg" alt="">
                    <div class="facts-overlay">
                        <h1 class="display-1">04</h1>
                        <h4 class="text-white mb-3">Interior Design</h4>
                        <p class="text-white">We create beautiful, functional interior spaces tailored to your unique style and needs, enhancing both form and comfort in every project.</p>
                        {{!-- <a class="text-white small" href="">READ MORE<i class="fa fa-arrow-right ms-3"></i></a> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->
