<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
    <a href="/" class="navbar-brand d-flex align-items-center">
        <img src="img/logo.png" alt="Buildexco logo - Handyman in GTA" class="img-fluid" style="max-width: 70px; height: auto;"
            class="me-2" >
        {{!-- <h5 class="m-0">BuildexCo</h5> --}}
    </a>

    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-3 py-lg-0">
            {{#if isHome}}
            {{!-- <a href="#about" class="nav-item nav-link">About Us</a> --}}
            {{!-- <a href="#services" class="nav-item nav-link">Services</a> --}}
            <a href="/projects" class="nav-item nav-link">Projects</a>
            {{!-- <a href="/contact" class="nav-item nav-link">Contact Us</a> --}}
               <a href="https://calendly.com/buildexguru/30min" class="nav-item nav-link" style="color: #d63384;"> <b>Book a Call</b></a>
            {{else}}
            <a href="/" class="nav-item nav-link">Home</a>
               <a href="https://calendly.com/buildexguru/30min" class="nav-item nav-link" style="color: #d63384;"> <b>Book a Call</b></a>
            {{/if}}
        </div>
    </div>

</nav>
<!-- Navbar End -->