<!-- Modal -->



<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-4">Admin</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Admin</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="bi bi-book display-1 text-primary"></i>
                <h1 class="mb-4">Admin Panel</h1>
                <h1></h1>
                <button class="btn btn-primary py-3 px-5" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    data-whatever="@buildexco">Get Access</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Fetch Data</h5>
            </div>
            <form action="/send-subscribers" method="POST" id="subscriberForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipientEmail" class="col-form-label">Recipient:</label>
                        <input type="email" class="form-control" id="recipientEmail" name="recipientEmail" required>
                    </div>
                    <div class="form-group">
                        <label for="dataPassword" class="col-form-label">Password:</label>
                        <input type="password" class="form-control" id="dataPassword" name="dataPassword" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

